{% extends 'base.html' %}

{% block content %}
    <h1>注册</h1>
    <form class="pure-form pure-form-aligned" method="post">
        {% csrf_token %}
        <div class="pure-control-group">
            <label for="id_username">用户名</label>
            <input id="id_username" type="text" name="username">
        </div>
        <div class="pure-control-group">
            <label for="id_password">密码</label>
            <input id="id_password" type="password" name="password">
        </div>
        <div class="pure-control-group">
            <label for="id_password2">再次输入密码</label>
            <input id="id_password2" type="password" name="password2">
        </div>
        <div class="pure-control-group">
            <label for="id_group">组别</label>
            <select id="id_group" name="group" required>
                <option value=""></option>
                <option value="ljyz">连江一中</option>
                <option value="other">其他</option>
            </select>
        </div>
        <button type="submit" class="pure-button pure-button-primary">注册</button>
    </form>
{% endblock %}
