{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <style>
        .group {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1em;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>注册/登录</h1>
    {% if debug %}
        <h2><a href="{% url 'debug_login' %}">调试登录</a></h2>
    {% endif %}
    <h2>协办单位选手</h2>
    <div class="group">
    </div>
    <h2>其他选手</h2>
    <div class="group">
        <a class="pure-button" href="/accounts/microsoft/login/">Microsoft 账号登录</a>
    </div>
    <!-- 测试移动端 -->
{% endblock %}
