{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <style>
        .group {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1em;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>注册/登录</h1>
    {% if debug %}
        <h2><a href="{% url 'debug_login' %}">调试登录</a></h2>
    {% endif %}
    <p>主办与协办学校选手需要在登录后填写自己的个人信息，以方便我们进行管理。</p>
    <div class="group">
        <a class="pure-button" href="/accounts/password/login/">登录</a>
        <a class="pure-button" href="/accounts/password/signup/">注册</a>
    </div>
    <!-- 测试移动端 -->
{% endblock %}
