{% extends 'base.html' %}

{% block content %}
    <h1>登录</h1>
    <p>如果遗忘了自己的密码，请联系比赛管理员。</p>
    <form class="pure-form pure-form-aligned" method="post">
        {% csrf_token %}
        <div class="pure-control-group">
            <label for="id_username">用户名</label>
            <input id="id_username" type="text" name="username">
        </div>
        <div class="pure-control-group">
            <label for="id_password">密码</label>
            <input id="id_password" type="password" name="password">
        </div>
        <button type="submit" class="pure-button pure-button-primary">登录</button>
    </form>
{% endblock %}
