{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <style>
        .group {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1em;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>注册/登录</h1>
    {% if debug %}
        <h2><a href="{% url 'debug_login' %}">调试登录</a></h2>
    {% endif %}
    <p>所有选手均使用微软（Microsoft）账号登录。如果你曾经用邮箱或手机号“登录”过你的电脑上的 Windows，那么你大概率会有一个微软账号。</p>
    <p>主办与协办学校选手需要在登录后填写自己的个人信息，以方便我们进行迁移。</p>
    <div class="group">
        <a class="pure-button" href="/accounts/microsoft/login/">Microsoft 账号登录</a>
    </div>
    <!-- 测试移动端 -->
{% endblock %}
